@font-face {
	font-family: 'Trip Sans';
	src: url('../fonts/TripSans-Regular.woff2') format('woff2'),
		url('../fonts/TripSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Trip Sans', 'Times New Roman', Times, serif;
}
header {
	height: 50px;
	/* border: 1px solid red; */
	padding: 10px;
	font-size: 16px;
}

h1 {
	font-size: 54px;
	font-weight: bolder;
	letter-spacing: 1.08px;
	line-height: 64px;
	word-spacing: 0px;
}

h2 {
	font-size: 28px;
	font-weight: 800;
	line-height: 33px;
	word-spacing: 0px;
	font-family: 'Trip Sans', 'Times New Roman', Times, serif;
	margin-bottom: 15px;
}
.logo {
	width: 170px;
}
.searchField {
	border: none;
}
.searchFieldBox {
	display: inline-block;
	border: solid 1px lightgray;
	width: 280px;
	height: 20px;
	border-radius: 25px;
	padding: 8px 80px 8px 10px;
	margin-right: 80px;
}
.nav {
	height: 40px;
	display: inline-block;
	padding-left: 75px;
}
.connect {
	border: none;
	border-radius: 25px;
	background: black;
	color: white;
	padding: 10px;
	margin-left: 20px;
}

.container {
}

.boxMenu {
	display: flex;
	/* border: 1px solid black; */
	width: 100%;
	justify-content: space-between;
	margin-bottom: -15px;
}
.blocNav {
	font-size: 16px;
	text-align: left;
	height: 68px;
	width: 181px;
	border: 1px solid black;
	min-height: auto;
	min-width: 150px;
	/* padding-top: 5px; */
	border-radius: 15px;
	margin: 5px;
	cursor: pointer;
}
.blocNav:hover {
	background: black;
	color: white;
}

.icon {
	position: relative;
	left: 140px;
	top: 15px;
}

.ssBlock {
	width: 120px;
	padding-left: 15px;
}
.boxPhoto {
	display: flex;
}

.breadcrumbs {
	color: grey;
	font-size: 12px;
	line-height: 14px;
	white-space: nowrap;
	margin-top: 20px;
	margin-bottom: 30px;
}

.box-space-between {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
}

.photo {
	position: relative;
	top: 425px;
	left: 15px;
	background: black;
	border: none;
	border-radius: 15px;
	color: white;
	padding: 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	text-align: center;
	cursor: pointer;
}

.paraph {
	width: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 50px;
}

.boxImg {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
	/* border: 3px red solid; */
}
.text {
	width: 22%;
	/* height: 294.844px;
	width: 271.997px; */
	/* border: 3px red solid; */
}
.card {
	width: 22%;
	position: relative;
	/* height: 294.844px;
	width: 271.997px; */
	/* border: 3px red solid; */
}

h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	padding-bottom: 20px;
}

.subParaph {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	line-height: 22px;
}
.afficher {
	text-decoration: underline;
	font-weight: 600;
	margin-top: 10px;
}

.heart {
	position: absolute;
	background-color: white;
	padding: 8px;
	border-radius: 50%;
	left: 210px;
	top: 10px;
}
.arrow {
	position: absolute;
	background-color: white;
	padding: 8px;
	border: 1px solid black;
	border-radius: 50%;
	left: 234px;
	top: 82px;
}
.arrow:hover {
	background-color: black;
	color: white;
	border: 1px solid black;
}
.travel {
	position: absolute;
	width: 30px;
	height: 40px;
	padding: 3px 0 0 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background: #31d599;
	left: 10px;
	top: 155px;
}

.cardTitle {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	cursor: pointer;
}

.cardNote {
	font-size: 10px;
	color: #25a576;
}

.cardDesc {
	padding-top: 5px;
	font-size: 14px;
	line-height: 17px;
}
